

.heading {
  text-align: center;
}
.formContainer {

  width: 100%;
}

.formContainer > * + * {
  margin-top: 1rem;
}

.formBtn {
  width: 100%;
  cursor: pointer;
}
.inputContainer > * + * {
  margin-top: 0.5rem;
}

.inputContainer {
    width: 100%;
  display: flex;
  flex-direction: column;
}
