.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: aquamarine; */
}

app-fxrequest-form,
app-fxrequest-list {
  max-width: 500px;
  width: 100%;
}
